<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <!-- <ion-nav-bar class="bar-stable"> -->
    <ion-nav-bar class="bar-positive" align-title="center">
    <!-- Enables the navigation buttons (only back button is on now) Ionic also allows forward
    caching-->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- This defines the little menu button we have in the side. -->
      <!-- button-clear: no background or box. button-icon: ?. navicon: that was the icon you are seeing. menu-toggle is left => so that menu slides form the left.-->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!-- this is being replaced with content our state provider gives -->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark" align-title="center">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
